<div style="background-image: url(../../assets/staff.jpg) ;background-repeat: no-repeat;
background-size: cover;background-position: center;height: 100%;width: 99vw;" >

<h2 style="text-align: center; margin-top: 0px; padding: 20px;">Welcome Staff Members </h2>
<div *ngIf = "! flightSelected" style="color: red; text-align: center; margin: 20px; " > Please Select Flight</div>

<div style="margin-left: 10px; text-align: center;">
    <mat-form-field appearance="outline" style="padding: 0px;">
      <mat-label >Select Flight</mat-label>
      <mat-select (selectionChange)="selectedFlightInfo($event.value)">
        <mat-option *ngFor="let flight of flightData" [value]="flight.fId">
          {{flight.fId}} {{flight.fName}} {{flight.fTime}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<p style="text-align: center; color: teal" *ngIf = "flightSelected"> Please Select Flight Status: </p>

<mat-spinner *ngIf = "! flightsLoaded" ></mat-spinner>

<div style="text-align: center"> 
    <button mat-stroked-button style="margin-left:10px" (click) = checkIn() [disabled] = "! flightSelected">Check-In </button>
    <button mat-stroked-button style="margin-left:10px" (click) = InFlight() [disabled] = "! flightSelected" >In-Flight </button>
</div>

</div>