.mat-checkbox{

    margin: 5px;
    padding: 8px;
}
.mat-grid-tile
{
    margin-top: 10px;
    margin: 5px;
    border: solid teal;
}
.text-inside-grid {
    text-align: start;
    left: 5px;
}
table
  {
      width: 100%;
  }
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-chip {
    max-width: 100px;
  }
  
 @media only screen and (max-width: 600px){
    .Mobile{
      display: block;
  
    }
  }

 @media only screen and (min-width: 800px){
    .Mobile{
      display: flex ;
  
    }
  }

