<div style="background-image: url(../../assets/back.jpg) ;background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 90vh;
width: 99vw;" >

  <header style="text-align: center; margin-top: 0px;padding: 20px; ">
    <h1> Welcome to Airlines</h1>
   </header>

  <h3 style="margin: 15px;" *ngIf = "loginStatus"> Please Select Role : </h3>
  <button mat-raised-button color="accent" style="margin-left:10px" *ngIf = "loginStatus" [routerLink]="['/admin']" >ADMIN </button>
  <button mat-raised-button color="accent" style="margin-left:10px" *ngIf = "loginStatus" [routerLink]="['/staff']" >STAFF </button>
  
  </div>
  <app-footer>

