<h3>Selected Flight is :  {{flightSeleted}}</h3>


<div class="table" style="width: 70%; margin-left: 20px;">
    <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8 " style=" margin-top:20px  ">

      <!-- PNR Column -->   
      <ng-container matColumnDef="PNR">
        <th mat-header-cell *matHeaderCellDef> PNR </th>
        <td mat-cell *matCellDef="let element"> {{element.PNR}} </td>
      </ng-container>

      <!-- Meal Column -->
      <ng-container matColumnDef="MealPrefrence">
        <th mat-header-cell *matHeaderCellDef> MealPrefrence </th>
        <td mat-cell *matCellDef="let element"> {{element.pName}} </td>
      </ng-container>

      <!-- Service Column -->
      <ng-container matColumnDef="Services">
        <th mat-header-cell *matHeaderCellDef> Services </th>
        <td mat-cell *matCellDef="let element"> {{element.Services}} </td>
      </ng-container>

      <!-- Seat No Column -->
      <ng-container matColumnDef="SeatNo">
        <th mat-header-cell *matHeaderCellDef> SeatNo. </th>
        <td mat-cell *matCellDef="let element"> {{element.SeatNo}} </td>
      </ng-container>

      <!-- Seat No Column -->
      <ng-container matColumnDef="ShopRequests">
        <th mat-header-cell *matHeaderCellDef> ShopRequests </th>
        <td mat-cell *matCellDef="let element"> {{element.ShopRequests}} </td>
      </ng-container>

      <!-- Update Button Column -->
      <!-- <ng-container matColumnDef="EditInfo">
        <th mat-header-cell *matHeaderCellDef> Edit Info. </th>
        <td mat-cell *matCellDef="let row"> <button (click)="UpdatePDialog(row)" >Update</button></td>
      </ng-container> -->

      <ng-container matColumnDef="AddServices">
        <th mat-header-cell *matHeaderCellDef> Edit Services. </th>
        <td mat-cell *matCellDef="let row"> <button (click)="addservice(row)" >Add</button></td>
      </ng-container>

      <ng-container matColumnDef="Add_ShopRequests">
        <th mat-header-cell *matHeaderCellDef> Add Shopping Item </th>
        <td mat-cell *matCellDef="let row"> <button (click)="addShopItem(row)" >Add Item</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
